<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song_details</title>
</head>
<body>
    <h1>Song Details</h1>
    <p>
        Here are details of the song:
    </p>
    <p>
        {{ details }}
    </p>
    <h2>Rate The Song</h2>
    <form method="post">
        <table>
            {{ form }}
        </table>
        {% csrf_token %}
      <button type="submit">Vote</button>
    </form>
    <h3>All votes so far:</h3>
    <ul>
       {% for rating in all_ratings reversed%}
           <li>Rating: {{ rating.rating }} at {{ rating.date }}</li>
       {% empty %}
       <td>Sorry, no ratings in this list.</td>
       {% endfor %}
    </ul>
</body>
</html>